body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0 0 80px; /* add space for fixed footer */
    background-color: #f0f0f0;
}

header {
    background-color: #8bc34a; /* 黄緑色 */
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.job-listings {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.job {
    border-bottom: 3px solid #23d656;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.job:last-child {
    border-bottom: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2{
    border-bottom:1px solid #8bc34a
}
